* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #292d3e;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

.darkBg {
  background-color: black;
}

.main {
  background-color: #F5F5F5;
  height: 90vh;
  min-height: 400px;
  max-height: 800px;
  max-width: 800px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  position: relative;
}

.dark {
  color: #F5F5F5;
  background-color: #121212;
}

/* .header {
  display: flex;
  width: 100%;
  margin-bottom: 0;
} */

.title {
  font-size: 2.5rem;
  text-align: center;
}

.instructions {
  font-weight: 400;
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin-top: -1rem;
}


.btn-roll {
  color: white;
  background-color: #2B283A;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-family: 'Karla', sans-serif;
  border: none;
  border-radius: 5px;
  width: 40%;
  padding: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-roll {
  outline: none;
}

.btn-roll:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.scores {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
